
#item-display {
    width: 80%;
    max-width: 1500px;
    margin: 15px auto;
}

#item-category {
    margin-left: 50px;
}

#item-display a {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

#item-display a:hover {
    text-decoration: underline;
}

#display-div {
    background-color: white;
    margin-top: 15px;
    border-radius: 50px;
    padding: 10px;
}

#item-image {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-top {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

#item-image img{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

#item-image {
    grid-row: 1 / 3;
    grid-column: 1;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

#item-name, #item-price, #item-buttons {
    grid-column: 2;
    width: 100%;
}

#item-name h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 10px;
}

#item-price {
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;
}

#price-of-one {
    margin-bottom: -20px;
}

#price-of-kilo {
    font-size: 24px;
    font-weight: 200;
}

#item-buttons {
    display: flex;
    height: 50px;
    align-items: center;
}

#item-buttons button a {
    text-decoration: none;
    color: white;
}

#item-buttons button a:hover {
    text-decoration: none;
}

#item-buttons button {
    height: 100%;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#item-buttons form {
    height: 100%;
}

#item-add-to-fav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-add-to-cart {
    font-size: 20px;
    margin-right: 15px;
    padding: 15px;
    background-color: orangered;
    color: white;
}

#item-buttons img {
    height: 40px;
}

#item-info {
    margin-left: 50px;
}

#info-title {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 3px solid rgb(70, 70, 70);
    padding-bottom: 5px;
}

#item-info-div {
    margin-top: 30px;
}

.info-div {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.info-div div span:first-child {
    font-weight: 600;
    font-size: large;
}

#item-info-div img {
    height: 30px;
    margin-right: 20px;
}

@media only screen and (max-width: 480px) {
    #item-category {
        margin-left: 30px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    #item-top {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    #item-name {
        grid-row: 1;
        grid-column: 1;
    }

    #item-image {
        margin-top: 30px;
        grid-row: 2;
        grid-column: 1;
    }

    #item-price {
        margin-top: 0;
        grid-row: 3;
        grid-column: 1;
    }

    #item-buttons {
        grid-row: 4;
        grid-column: 1;
        justify-content: space-evenly;
    }
}